body {
  font-weight: 300;
}

.navbar {
  background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 50%, #2cb5e8 75%);
}

.content {
  padding-top: 1rem;
}

.albums td:first-child {
  width: 60px;
}

.album th:first-child {
  width: 120px;
}
